---
import logo from '../assets/FirstDevelopmentsLogoV2.png'
---

<div class="bg-gray-800 px-4 p-2 md:px-8 md:py-2 mx-auto mt-[50px]">
    <div class="container">
        <div class="rounded-xl text-gray-100 p-1 md:px-20 md:py-5 flex flex-wrap gap-10">
            <div class="w-full md:w-[45%]">
                <div class="mb-5">
                    <img class='w-10' src={logo.src} alt="firstdevelopments logo" />
                </div>
                <h4 class="w-full text-2xl md:text-3xl my-5 mx-auto">firstdevelopments.ca</h4>
                
            </div>
            <div class="w-full md:w-[45%] flex flex-wrap gap-12 md:gap-12 justify-between mt-1 md:mt-10">
                <div class="w-full md:w-[50%] mx-auto md:mx-2">
                    <ul class="text-xl">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="text-white p-2 md:px-20 md:py-2 text-xs">
            <p><span>&copy;</span> All Rights Reserved</p>
        </div>
    </div>
</div>