---
import ConstructionImage from '../assets/new-home-construction.jpg'
import ConstructionImageBg from '../assets/pencilsketch.construction.jpg'
---
<div class="bg-[url('../src/assets/pencilsketch.construction.jpg')]">
<div class="px-4 p-2 md:px-8 md:py-2 mx-auto bg-white bg-opacity-80">
    <div class="container mt-5">
        <div class="text-center mt-[150px] lg:mt-[200px] mb-[50px]">
			<h1 class="text-4xl md:text-6xl"><span class="whitespace-nowrap bg-gradient-to-r from-sky-600 to-cyan-400 text-transparent bg-clip-text">Firstdevelopments</span> is aimed to build affordable rental units for low-income individuals and families struggling to get a dwelling.</h1>
		</div>
		<div class="text-center mt-[50px] lg:mt-[30px] mb-[100px]">
			<h1 class="text-xl md:text-3xl">Our first project is underway and lookout for an announcement. We are very excited to make this happen and leave a trail for others to follow, especially in times like now.</h1>
		</div>
		<div class="">
			<img class="md:rounded-xl" src={ConstructionImage.src} alt="construction site" />
		</div>

    </div>
</div>
</div>